{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="col">
      {% for post in posts %}
        <article class="post">
          <h2><a href="">{{ post.title }}</a></h2>
          <p>{{ post.text|linebreaksbr }}</p>
          <time class="date">
            {{ post.published_date }}
          </time>
          <h3>Comments...</h3>
          {% if not post.comments.all %}
            <h5>No comments Yet...
              <br>
              Comments can only be added from the admin panel. (/admin)</h5>
          {% else %}
            {% for comment in post.comments.all %}
              <strong>
                {{ comment.name }} -
                {{ comment.date_added}}
              </strong>
              <br>
                {{ comment.body }}
            {% endfor %}
          {% endif %}
        </article>
      {% endfor %}
    </div>
</main>
{% endblock %}
